---
import { Sprite } from "astro-icon";
import Layout from "@layouts/Layout.astro";

import site from "@src/data/site.js";
import Projects from "@components/Projects.astro";
import About from "@components/About.astro";
import Hero from "@components/Hero.astro";
import MyProcess from "@components/MyProcess.astro";
import MyDesignPrinciples from "@components/MyDesignPrinciples.astro";
import WhatSetsMeApart from "@components/WhatSetsMeApart.astro";
import WhatColleaguesSayAboutMe from "@components/WhatColleaguesSayAboutMe.astro";
import ProjectInMind from "@components/ProjectInMind.astro";
---

<Layout hero={true} class="text-gray-900 text-xl font-poppins relative">
  <Hero />
  <Projects />
  <About />
  <MyProcess />
  <MyDesignPrinciples />
  <WhatSetsMeApart />
  <WhatColleaguesSayAboutMe />
  <ProjectInMind />

  <footer
    class="relative mt-28 w-full overflow-hidden bg-[#263F99] p-12 shadow-md"
  >
    <div class="mx-auto flex max-w-xs flex-col gap-4 sm:max-w-7xl">
      <h1 class="text-2xl font-semibold text-white sm:text-3xl">
        {site.name.toLowerCase()}
      </h1>
      <a
        href=`mailto:${site.email}?Subject=Let%27s talk about`
        class="text-lg text-white">{site.email}</a
      >

      <div class="flex justify-start gap-4 pt-2">
        {
          site.socialLinks.map(({ href, text, pack, name }) => (
            <a
              target="_blank"
              href={href}
              title={text}
              class="text-neutral-300 hover:text-neutral-100 "
            >
              <span class="sr-only">{text}</span>
              <Sprite pack={pack} name={name} size={24} aria-hidden="true" />
            </a>
          ))
        }
      </div>
    </div>

    <svg
      class="safari-blur absolute left-[-700px] top-[600px] z-[10] h-[300px] w-[300px] blur-[225px]"
      viewBox="0 0 200 200"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill="#f2f2f2"
        d="M44,-17.1C51.5,8.6,48.1,35.1,34,44.9C19.9,54.6,-4.8,47.7,-25.5,33.1C-46.3,18.6,-62.9,-3.6,-57.9,-25.9C-53,-48.2,-26.5,-70.5,-4.1,-69.2C18.3,-67.8,36.6,-42.8,44,-17.1Z"
        transform="translate(100 100)"></path>
    </svg>
  </footer>

  <style>
    .safari-blur {
      transform: translate3d(0, 0, 0);
    }

    .decorate {
      position: relative;
      padding-right: 0.033px;
      white-space: nowrap;
    }

    .decorate::after {
      background-color: "#3368FF";
      content: " ";
      position: absolute;
      top: 0.109em;
      left: -0.125em;
      right: -0.125em;
      bottom: -0.109em;
      width: 100%;
      height: 100%;

      z-index: -10;
    }

    .wavy {
      /* mask created with 
  https://css-generators.com/wavy-shapes/ */

      background: linear-gradient(to right, #00f260, #0575e6);

      --mask: radial-gradient(50.39px at 50% 68.75px, #000 99%, #0000 101%)
          calc(50% - 50px) 0/100px 51% repeat-x,
        radial-gradient(50.39px at 50% -43.75px, #0000 99%, #000 101%) 50% 25px/100px
          calc(51% - 25px) repeat-x,
        radial-gradient(
            50.39px at 50% calc(100% - 68.75px),
            #000 99%,
            #0000 101%
          )
          calc(50% - 50px) 100%/100px 51% repeat-x,
        radial-gradient(
            50.39px at 50% calc(100% + 43.75px),
            #0000 99%,
            #000 101%
          )
          50% calc(100% - 25px) / 100px calc(51% - 25px) repeat-x;
      -webkit-mask: var(--mask);
      mask: var(--mask);
    }
  </style>

  <!-- <script>
  const navbar = document.getElementById("navbar");

  document.addEventListener("scroll", function () {
    // navbar.style.display = "block";
    navbar.classList.add("absolute");
    navbar.classList.add("sticky");
    // console.log(navbar.style.display);
    // console.log(navbar.classList.display);
  });
</script> -->
</Layout>
