---
import { Sprite } from "astro-icon";
import Layout from "@layouts/Layout.astro";

import site from "@src/data/site.js";
import Projects from "@components/Projects.astro";
import About from "@components/About.astro";
import Hero from "@components/Hero.astro";
import MyProcess from "@components/MyProcess.astro";
import MyDesignPrinciples from "@components/MyDesignPrinciples.astro";
---

<Layout hero={true} class="text-gray-900 text-xl font-poppins relative">
  <Hero />
  <Projects />
  <About />
  <MyProcess />
  <MyDesignPrinciples />

  <section class="relative flex flex-col items-center justify-center py-28">
    <h1 class="mb-28 font-syne text-4xl font-bold">
      What <span class="text-designsystem">Sets Me Apart</span>
    </h1>
    <div class="mx-auto grid max-w-7xl gap-12 sm:grid-cols-3">
      <div class="flex flex-col gap-5">
        <svg
          width="155"
          height="146"
          viewBox="0 0 155 146"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M78.2107 144.923C63.8705 144.706 49.2073 146.813 36.2778 140.618C22.4683 134 10.1194 123.332 3.947 109.337C-2.19156 95.4182 -0.0216629 79.6016 2.77502 64.6519C5.47834 50.2014 10.235 36.1283 19.7424 24.9026C29.3209 13.593 41.9932 4.85778 56.4022 1.33273C70.4736 -2.10974 84.7938 1.77091 98.7734 5.56824C113.014 9.4365 128.168 12.7824 138.231 23.5602C148.439 34.4948 151.889 49.8034 153.901 64.6154C155.901 79.3359 155.538 94.4083 149.713 108.078C143.796 121.964 134.401 134.977 120.968 141.899C108.009 148.577 92.7927 145.144 78.2107 144.923Z"
            fill="#4F75FF"></path>
          <path
            d="M53.1034 48.1814C43.5328 53.0643 36.337 57.5835 34.3748 68.3757C33.5727 72.7869 33.892 81.3724 36.9805 84.8243C41.9985 90.4327 43.5503 94.6928 51.3119 96.8757C58.8596 98.9985 74.6814 100.5 80.8706 95.0843C89.602 87.4443 90.6666 72.7794 86.8149 62.1871C80.9149 45.9621 62.2483 46.7452 48.7062 49.6471"
            stroke="#BFDBFE"
            stroke-width="3"
            stroke-linecap="round"
            stroke-dasharray="6 6"></path>
          <path
            d="M85.1034 48.1814C75.5328 53.0643 68.337 57.5835 66.3748 68.3757C65.5727 72.7869 65.892 81.3724 68.9805 84.8243C73.9985 90.4327 75.5503 94.6928 83.3119 96.8757C90.8596 98.9985 106.681 100.5 112.871 95.0843C121.602 87.4443 122.667 72.7794 118.815 62.1871C112.915 45.9621 94.2483 46.7452 80.7062 49.6471"
            stroke="#BFDBFE"
            stroke-width="3"
            stroke-linecap="round"
            stroke-dasharray="6 6"></path>
        </svg>

        <h2 class="font-syne text-2xl font-semibold">
          My multidisciplinary background...
        </h2>
        <p class="prose prose-lg">
          My background in finance, interior design, business management, and
          operations greatly influences the practicality of my designs. I
          quickly identify problems and find relevant solutions, using data and
          research methods to uncover hidden patterns.
        </p>
      </div>
      <div class="flex flex-col gap-5">
        <svg
          width="146"
          height="149"
          viewBox="0 0 146 149"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M70.7698 0.035059C84.7259 0.642281 96.3751 10.1647 107.207 19.0078C117.091 27.0767 123.929 37.5216 130.267 48.6081C137.214 60.7593 147.14 72.7269 145.893 86.6764C144.633 100.775 133.361 111.504 123.721 121.846C114.389 131.857 104.113 141.087 91.1435 145.409C77.8931 149.825 63.5472 150.193 50.1134 146.375C36.6029 142.534 24.4307 134.727 15.4583 123.897C6.59701 113.2 1.14508 99.8977 0.121438 86.0314C-0.863023 72.6959 4.2967 60.1148 9.85235 47.9579C15.402 35.8143 21.7597 23.9921 32.2417 15.7461C43.3744 6.98817 56.6321 -0.580069 70.7698 0.035059Z"
            fill="#4F75FF"></path>
          <path
            d="M30.3377 99.3478C30.3377 89.4745 31.3053 79.1208 29.7818 69.3308C29.1265 65.1197 28.6798 60.2079 29.2877 55.9348C29.5923 53.794 43.4074 55.9411 45.9642 56.3689C48.4786 56.7897 59.221 57.4346 58.9965 57.5473C56.0013 59.0511 52.5755 59.795 49.4848 61.1444C47.8436 61.8608 56.6705 64.9192 58.1318 65.6097C59.4061 66.2118 50.0441 67.1001 48.9907 67.2222C43.7252 67.8322 38.9449 70.3231 33.673 70.3231"
            stroke="#BFDBFE"
            stroke-width="2.21739"
            stroke-linecap="round"
            stroke-dasharray="6.65 6.65"></path>
          <path
            d="M94.3377 99.3478C94.3377 89.4745 95.3053 79.1208 93.7818 69.3308C93.1265 65.1197 92.6798 60.2079 93.2877 55.9348C93.5923 53.794 107.407 55.9411 109.964 56.3689C112.479 56.7897 123.221 57.4346 122.997 57.5473C120.001 59.0511 116.576 59.795 113.485 61.1444C111.844 61.8608 120.671 64.9192 122.132 65.6097C123.406 66.2118 114.044 67.1001 112.991 67.2222C107.725 67.8322 102.945 70.3231 97.673 70.3231"
            stroke="#BFDBFE"
            stroke-width="2.21739"
            stroke-linecap="round"
            stroke-dasharray="6.65 6.65"></path>
          <path
            d="M34 99C48.3915 99 62.7906 99 77.1812 99C80.7351 99 84.324 99 87.8577 99C88.6524 99 89.4609 99 90.221 99C91.1447 99 92.0558 99 93 99"
            stroke="#BFDBFE"
            stroke-width="3"
            stroke-linecap="round"
            stroke-dasharray="4 4"></path>
        </svg>

        <h2 class="font-syne text-2xl font-semibold">
          I care about the users’ end-to-end journey
        </h2>
        <p class="prose prose-lg">
          I have experience in the entire design process, from user research to
          wireframes, interactive prototypes, and high-fidelity mockups, which
          gives me a deep understanding of what it takes to create a great
          product.
        </p>
      </div>
      <div class="flex flex-col gap-5">
        <svg
          width="146"
          height="149"
          viewBox="0 0 146 149"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M70.7698 0.035059C84.7259 0.642281 96.3751 10.1647 107.207 19.0078C117.091 27.0767 123.929 37.5216 130.267 48.6081C137.214 60.7593 147.14 72.7269 145.893 86.6764C144.633 100.775 133.361 111.504 123.721 121.846C114.389 131.857 104.113 141.087 91.1435 145.409C77.8931 149.825 63.5472 150.193 50.1134 146.375C36.6029 142.534 24.4307 134.727 15.4583 123.897C6.59701 113.2 1.14508 99.8977 0.121438 86.0314C-0.863023 72.6959 4.2967 60.1148 9.85235 47.9579C15.402 35.8143 21.7597 23.9921 32.2417 15.7461C43.3744 6.98817 56.6321 -0.580069 70.7698 0.035059Z"
            fill="#4F75FF"></path>
          <path
            d="M73.422 113.851C68.3615 113.621 62.1075 112.327 58.4304 108.65C56.1515 106.371 56.2887 101.261 56.2887 98.078C56.2887 94.2184 51.8842 91.183 49.2179 89.0015C45.7486 86.163 43.0999 80.9357 42.351 76.5255C42.0566 74.7918 41.5509 71.2124 42.8269 69.7946C45.1706 67.1905 45.064 63.6793 45.3085 60.3781C45.7687 54.1653 52.5963 52.5598 55.8128 48.1061C57.7104 45.4787 58.6635 42.8896 61.048 40.5593C62.7536 38.8925 64.6852 37.5341 66.3851 35.8341C69.4351 32.7842 76.549 33.9149 79.8469 36.48C83.2908 39.1586 87.0407 40.4677 90.0793 43.6188C94.957 48.6772 99.6547 51.0899 101.263 58.1685C102.4 63.1705 102.181 68.3542 102.181 73.466C102.181 77.0013 103.526 80.1656 103.983 83.5964C104.6 88.2231 103.681 92.73 101.569 96.7183C100.656 98.4429 99.2295 99.9293 98.5099 101.749C97.2826 104.854 97.3901 107.172 94.5326 109.5C90.9588 112.412 85.892 113.24 81.3767 113.24C78.5931 113.24 76.2325 114.463 73.422 114.463"
            stroke="#BFDBFE"
            stroke-width="3"
            stroke-linecap="round"
            stroke-dasharray="6 6"></path>
          <path
            d="M70.0264 37.7979C73.9649 47.2161 76.5996 58.2 76.7372 68.4504C76.8206 74.6618 76.4346 80.86 76.4346 87.0698C76.4346 91.7098 77.0754 96.2947 77.0754 100.919"
            stroke="#BFDBFE"
            stroke-width="3"
            stroke-linecap="round"
            stroke-dasharray="6 6"></path>
          <path
            d="M70.9878 57.663C69.9058 52.2529 66.5624 49.5829 61.0195 51.0946C58.6071 51.7525 61.0166 54.0391 61.6959 54.8505C62.638 55.9758 63.2238 57.4908 61.6603 58.4462C58.6956 60.258 55.4504 58.6136 53.3831 62.1843C51.3078 65.7689 55.2285 66.7017 58.1002 65.7444C60.0379 65.0986 61.1592 64.577 63.298 64.7298C64.3593 64.8056 65.4905 65.3837 65.7901 66.4921C65.9398 67.0459 65.0207 68.2708 65.4341 68.5569C67.1479 69.7435 69.8181 68.5264 69.3858 71.1202"
            stroke="#BFDBFE"
            stroke-width="3"
            stroke-linecap="round"
            stroke-dasharray="6 6"></path>
          <path
            d="M69.3859 74.645C65.7891 74.7896 62.1236 75.1382 58.5275 74.8052C57.3599 74.6971 56.1658 74.5427 55.0386 74.9654C52.9013 75.7669 53.1411 77.6691 55.1988 78.4721C56.8101 79.101 59.5519 78.7059 59.6311 81.1244C59.6784 82.5656 58.1745 85.5815 59.0437 86.785C60.2845 88.503 64.2989 86.9991 65.986 86.8384C68.2443 86.6233 67.3904 88.9547 66.8938 90.3451C66.3272 91.9314 65.5051 93.4969 65.0959 95.1335C64.6733 96.824 68.7258 96.1125 69.7063 96.1125"
            stroke="#BFDBFE"
            stroke-width="3"
            stroke-linecap="round"
            stroke-dasharray="6 6"></path>
          <path
            d="M81.2407 49.6528C85.5292 50.746 92.5867 53.0501 92.7043 58.6955C92.7478 60.7838 91.0111 62.4684 89.2154 63.1813C86.9571 64.0778 81.5362 63.7301 83.6972 60.0484C83.9952 59.5407 83.777 59.3848 83.4836 58.9447"
            stroke="#BFDBFE"
            stroke-width="3"
            stroke-linecap="round"
            stroke-dasharray="6 6"></path>
          <path
            d="M82.8428 72.7225C84.2693 71.7361 87.0676 69.1728 89.073 70.0524C90.2677 70.5764 90.9063 71.5565 91.8321 72.3665C92.2741 72.7532 96.2726 71.6568 95.4812 72.9005C94.6139 74.2634 91.8447 75.1907 93.0959 77.137C93.9926 78.5318 95.6929 79.6416 97.1188 80.4123C99.8879 81.9091 98.088 82.7402 97.4392 85.0405C97.2468 85.7227 97.2159 86.838 96.8696 87.4613C96.2569 88.5642 93.3313 87.8567 92.4195 87.7462C89.0431 87.3369 87.0482 85.9603 86.2961 82.7264C86.0147 81.5166 85.3246 80.7327 84.1244 80.7327"
            stroke="#BFDBFE"
            stroke-width="3"
            stroke-linecap="round"
            stroke-dasharray="6 6"></path>
          <path
            d="M83.4835 90.6655C84.1089 94.105 90.2175 92.3045 92.0634 94.5105C93.6069 96.3551 91.4969 98.9188 90.3545 100.58C89.1301 102.361 83.4835 98.2937 83.4835 101.559C83.4835 103.307 86.04 105.095 84.2667 106.223C82.237 107.515 80.4889 107.459 78.0187 107.665C76.6356 107.78 75.0796 107.48 73.7466 107.825C72.3767 108.18 71.1634 109.57 69.7058 109.57C67.2083 109.57 66.4089 105.106 67.8012 103.482C68.6559 102.485 70.0263 102.12 70.0263 100.598"
            stroke="#BFDBFE"
            stroke-width="3"
            stroke-linecap="round"
            stroke-dasharray="6 6"></path>
        </svg>

        <h2 class="font-syne text-2xl font-semibold">
          I have strong design skills
        </h2>
        <p class="prose prose-lg -mt-1">
          Design has always been a source of inspiration for me. My creativity,
          practicality, and sense of aesthetics allow me to create visually
          appealing and functional designs. This helps in effectively
          communicating the intended message to the users.
        </p>
      </div>
    </div>
  </section>
  <section
    class="relative my-36 flex flex-col items-center justify-center bg-designsystem p-44"
  >
    <h1 class="font-syne text-4xl font-bold text-white">
      What My Colleagues <span class="text-white">Say About Me...</span>
    </h1>
    <div class="mx-auto mt-28 grid max-w-7xl grid-cols-3 gap-12">
      <div class="rounded-sm bg-designsystem-800/20 p-12">
        <blockquote class="prose prose-lg font-syne text-white">
          <svg
            aria-hidden="true"
            class="h-12 w-12 text-designsystem-800/40"
            viewBox="0 0 24 27"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M14.017 18L14.017 10.609C14.017 4.905 17.748 1.039 23 0L23.995 2.151C21.563 3.068 20 5.789 20 8H24V18H14.017ZM0 18V10.609C0 4.905 3.748 1.038 9 0L9.996 2.151C7.563 3.068 6 5.789 6 8H9.983L9.983 18L0 18Z"
              fill="currentColor"></path>
          </svg>

          Iuliia excelled in her ability to understand and <b class="font-bold"
            >incorporate our business needs
          </b> into the design system. She ensured that every design system element
          was <b class="font-bold">consistent</b> and easy for our development team
          to implement, <b class="font-bold"
            >significantly improving our development times.
          </b>
        </blockquote>
        <p class="mt-4 text-slate-200">
          - President of Britannica Home Fashions
        </p>
      </div>
      <div class="rounded-sm bg-designsystem-800/20 p-12">
        <blockquote class="prose prose-lg font-syne text-white">
          <svg
            aria-hidden="true"
            class="h-12 w-12 text-designsystem-800/40"
            viewBox="0 0 24 27"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M14.017 18L14.017 10.609C14.017 4.905 17.748 1.039 23 0L23.995 2.151C21.563 3.068 20 5.789 20 8H24V18H14.017ZM0 18V10.609C0 4.905 3.748 1.038 9 0L9.996 2.151C7.563 3.068 6 5.789 6 8H9.983L9.983 18L0 18Z"
              fill="currentColor"></path>
          </svg>

          Iuliia has the <b class="font-bold">innovative spirit</b>needed in the
          UX design field. With a <b class="font-bold">strategic mind</b> that comes
          from her MBA studies and experience, and a <b class="font-bold"
            >keen design sense</b
          >, what I liked most about Iuliia's work is the creativity in design.
        </blockquote>
        <p class="mt-4 text-slate-200">- UX Design Manager</p>
      </div>
      <div class="rounded-sm bg-designsystem-800/20 p-12">
        <blockquote class="prose prose-lg font-syne text-white">
          <svg
            aria-hidden="true"
            class="h-12 w-12 text-designsystem-800/40"
            viewBox="0 0 24 27"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M14.017 18L14.017 10.609C14.017 4.905 17.748 1.039 23 0L23.995 2.151C21.563 3.068 20 5.789 20 8H24V18H14.017ZM0 18V10.609C0 4.905 3.748 1.038 9 0L9.996 2.151C7.563 3.068 6 5.789 6 8H9.983L9.983 18L0 18Z"
              fill="currentColor"></path>
          </svg>

          Iuliia excelled in her ability to understand and <b class="font-bold"
            >incorporate our business needs
          </b> into the design system. She ensured that every design system element
          was <b class="font-bold">consistent</b> and easy for our development team
          to implement, <b class="font-bold"
            >significantly improving our development times.
          </b>
        </blockquote>
        <p class="mt-4 text-slate-200">- Sales and Marketing Executive</p>
      </div>
      <svg
        class="absolute -top-0 left-0"
        width="715"
        height="227"
        viewBox="0 0 715 227"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M683.484 52.0312C663.09 93.3662 639.183 137.386 597.134 156.457C556.036 175.098 509.466 154.118 464.326 151.433C419.714 148.78 372.078 163.212 333.393 140.77C293.673 117.727 273.158 72.903 255.822 30.4747C238.41 -12.1384 222.713 -58.3335 233.832 -102.892C244.741 -146.612 283.869 -174.981 315.178 -207.397C346.336 -239.658 372.981 -280.296 416.398 -291.917C460.16 -303.631 506.684 -288.704 547.906 -269.69C586.502 -251.888 614.445 -219.938 642.188 -187.771C671.166 -154.171 705.449 -121.937 712.962 -78.3093C720.689 -33.4433 703.594 11.2702 683.484 52.0312Z"
          fill="#DBEAFE"></path>
        <path
          opacity="0.5"
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M323.768 202.543C280.035 219.178 231.854 235.437 187.695 221.394C144.535 207.668 124.911 161.349 93.6127 129.349C62.6812 97.7248 17.6447 76.5735 4.83089 34.4321C-8.32586 -8.83732 7.7772 -55.2434 24.5492 -97.7841C41.3943 -140.51 61.9912 -184.712 101.151 -209.875C139.575 -234.564 188.054 -229.258 233.603 -232.113C278.933 -234.955 326.774 -246.921 366.756 -226.523C407.056 -205.963 430.856 -164.097 447.918 -122.774C463.893 -84.0815 462.202 -42.14 460.213 -0.173321C458.134 43.6622 460.904 90.0304 436.08 126.911C410.552 164.838 366.893 186.138 323.768 202.543Z"
          fill="#DBEAFE"></path>
      </svg>
    </div>
  </section>

  <!-- <section class="mt-36">
    <Skills />
  </section> -->
  <!-- <section class="my-36">
    <Image src={sayAboutMe} alt="say-about-me" class="bg-transparent bg-none" />
  </section> -->
  <section class="my-72 flex flex-col items-center justify-center">
    <h1 class="font-syne text-4xl font-bold">
      Have a <span class="text-designsystem">Project&nbsp;</span><span class=""
        >in mind?</span
      >
    </h1>
    <div class="align-center flex flex-col items-center">
      <a
        href=`mailto:${site.email}?Subject=Let%27s talk about`
        class="align-center mt-24 flex h-64 w-64 flex-col items-center justify-center rounded-full bg-gradient-to-tr from-designsystem-500 to-designsystem-800/70 text-2xl font-bold text-white hover:bg-slate-200"
        >Let's talk about it!</a
      >
    </div>
  </section>

  <footer class="relative mt-28 overflow-hidden bg-[#263F99] p-28 shadow-md">
    <div class="mx-auto flex max-w-7xl flex-col gap-4">
      <h1 class="text-3xl font-semibold text-white">{site.name}</h1>
      <a
        href=`mailto:${site.email}?Subject=Let%27s talk about`
        class="text-lg text-white">{site.email}</a
      >

      <div class="flex justify-start gap-4 pt-2">
        {
          site.socialLinks.map(({ href, text, pack, name }) => (
            <a
              target="_blank"
              href={href}
              title={text}
              class="text-neutral-300 hover:text-neutral-100 "
            >
              <span class="sr-only">{text}</span>
              <Sprite pack={pack} name={name} size={24} aria-hidden="true" />
            </a>
          ))
        }
      </div>
    </div>

    <svg
      class="safari-blur absolute left-[-700px] top-[600px] z-[10] h-[300px] w-[300px] blur-[225px]"
      viewBox="0 0 200 200"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill="#f2f2f2"
        d="M44,-17.1C51.5,8.6,48.1,35.1,34,44.9C19.9,54.6,-4.8,47.7,-25.5,33.1C-46.3,18.6,-62.9,-3.6,-57.9,-25.9C-53,-48.2,-26.5,-70.5,-4.1,-69.2C18.3,-67.8,36.6,-42.8,44,-17.1Z"
        transform="translate(100 100)"></path>
    </svg>
  </footer>

  <style>
    .safari-blur {
      transform: translate3d(0, 0, 0);
    }

    .decorate {
      position: relative;
      padding-right: 0.033px;
      white-space: nowrap;
    }

    .decorate::after {
      background-color: "#3368FF";
      content: " ";
      position: absolute;
      top: 0.109em;
      left: -0.125em;
      right: -0.125em;
      bottom: -0.109em;
      width: 100%;
      height: 100%;

      z-index: -10;
    }

    .wavy {
      /* mask created with 
  https://css-generators.com/wavy-shapes/ */

      background: linear-gradient(to right, #00f260, #0575e6);

      --mask: radial-gradient(50.39px at 50% 68.75px, #000 99%, #0000 101%)
          calc(50% - 50px) 0/100px 51% repeat-x,
        radial-gradient(50.39px at 50% -43.75px, #0000 99%, #000 101%) 50% 25px/100px
          calc(51% - 25px) repeat-x,
        radial-gradient(
            50.39px at 50% calc(100% - 68.75px),
            #000 99%,
            #0000 101%
          )
          calc(50% - 50px) 100%/100px 51% repeat-x,
        radial-gradient(
            50.39px at 50% calc(100% + 43.75px),
            #0000 99%,
            #000 101%
          )
          50% calc(100% - 25px) / 100px calc(51% - 25px) repeat-x;
      -webkit-mask: var(--mask);
      mask: var(--mask);
    }
  </style>

  <!-- <script>
  const navbar = document.getElementById("navbar");

  document.addEventListener("scroll", function () {
    // navbar.style.display = "block";
    navbar.classList.add("absolute");
    navbar.classList.add("sticky");
    // console.log(navbar.style.display);
    // console.log(navbar.classList.display);
  });
</script> -->
</Layout>
