---
import type { Link } from "@src/types.js";

import logo from "@images/Logo.svg";

// import hamburguer from "@assets/IconHamburguer.svg";

export interface Props {
  hero?: boolean;
}

const { hero = false } = Astro.props as Props;

const links: Link[] = [
  {
    href: "#work",
    text: "Work",
  },
  {
    href: "#about",
    text: "About",
  },
];
---

<header id="navbar" class:list={["absolute top-0 left-0 right-0 z-20"]}>
  <!-- <SkipToContent /> -->
  <div class="pt-10 text-sm font-light">
    <nav
      class="relative mx-auto flex max-w-7xl items-center justify-between"
      aria-label="Global"
    >
      <div class="flex flex-1 flex-col items-center gap-y-6 sm:flex-row">
        <div class="flex w-full items-center justify-between md:w-auto">
          <a href="/" class="cursor-pointer" id="navlogo">
            <img src={logo} alt="logo" />
          </a>
          <div class="flex items-center sm:hidden">
            <button
              type="button"
              class="inline-flex cursor-pointer items-center justify-center p-2"
              aria-expanded="false"
            >
              <span class="sr-only">Open main menu</span>
              <img id="menubtn" src="" alt="menu" />
              <!-- <img id="menuclose" src={iconClose} alt="close" /> -->
            </button>
          </div>
        </div>
        <div
          id="menu"
          class:list={[
            "flex flex-col gap-x-8 text-center sm:ml-auto sm:flex-row sm:gap-y-4 sm:text-left ",
            !hero ? "hidden " : "block",
          ]}
        >
          {
            links.map(({ href, text }) => (
              <a href={href} class=" text-lg hover:text-neutral-500">
                {text}
              </a>
            ))
          }

          <!-- <div id="mobilesocial" class="flex flex-row">
            {
              site.socialLinks.map(({ href, text, pack, name }) => (
                <a href={href} class="p-4" title={text}>
                  <Icon
                    pack={pack}
                    name={name}
                    size={22}
                    class="hover:text-neutral-500 "
                    aria-hidden="true"
                  />
                </a>
              ))
            } -->
        </div>
      </div>
    </nav>
  </div>
</header>

<script is:inline>
  const header = document.getElementById("navheader");
  const menuBtn = document.getElementById("menubtn");
  // const menuClose = document.getElementById("menuclose");
  // const logox = document.getElementById("navlogo");

  menuBtn.onclick = () => {
    header.classList.toggle("open");
    // menuBtn.src = {iconClose };
    // menuClose.style.display = "none";
    // menuBtn.classList.toggle("invisible");
    // menuClose.classList.toggle("visible");
  };
</script>

<style>
  @media (max-width: 768px) {
    header:not(.open) :is(#menu, #mobilesocial) {
      @apply hidden;
    }

    header.open {
      @apply min-h-screen;
    }
  }

  @media screen (height: 100vmax) {
    header :is(#menu > *) {
      @apply font-semibold text-gray-800;
    }
  }

  html {
    scroll-behavior: smooth;
  }
</style>
