---
import type { Link } from "@src/types.js";
import Logo from "@components/Logo.astro";
import { Icon } from "astro-icon";
import site from "@data/site";

export interface Props {
  hero?: boolean;
}

const { hero = false } = Astro.props as Props;

const links: Link[] = [
  {
    href: "#work",
    text: "Featured Work",
  },
  {
    href: "#about",
    text: "About",
  },
];
---

<header
  id="navheader"
  class:list={[
    // "fixed max-w-7xl mx-auto top-0 left-0 right-0 z-20 px-4 md:px-0 ",
    " fixed  top-0 left-0 right-0 z-20 bg-white/60 ",
  ]}
>
  <!-- <SkipToContent /> -->
  <div class="mx-auto max-w-7xl py-6 px-4 text-sm font-light md:px-0">
    <nav class="relative flex items-center justify-between" aria-label="Global">
      <div class="mx-4 flex flex-1 flex-col items-center gap-y-6 sm:flex-row">
        <div class="flex w-full items-center justify-between md:w-auto">
          <a href="/" class="cursor-pointer" id="navlogo">
            <Logo />
          </a>
          <div class="flex items-center md:hidden">
            <button
              id="menubtn"
              type="button"
              class="inline-flex cursor-pointer items-center justify-center p-2"
              aria-expanded="false"
            >
              <span class="sr-only">Open main menu</span>
              <Icon
                pack="heroicons-outline"
                name="menu"
                size={24}
                aria-hidden="true"
              />
            </button>
          </div>
        </div>
        <div
          id="menu"
          class:list={[
            "flex flex-col gap-x-12 text-center sm:ml-auto sm:flex-row sm:gap-y-4 sm:text-left mr-4 lg:mr-0 ",
            !hero ? "hidden " : "block",
          ]}
        >
          {
            links.map(({ href, text }) => (
              <a href={href} class=" text-lg hover:text-neutral-500">
                {text}
              </a>
            ))
          }

          <div id="mobilesocial" class="flex flex-row sm:hidden">
            {
              site.socialLinks.map(({ href, text, pack, name }) => (
                <a href={href} class="p-4" title={text}>
                  <Icon
                    pack={pack}
                    name={name}
                    size={22}
                    class="hover:text-neutral-500 "
                    aria-hidden="true"
                  />
                </a>
              ))
            }
          </div>
        </div>
      </div>
    </nav>
  </div>

  <script>
    const header = document.getElementById("navheader");
    const menuBtn = document.getElementById("menubtn");
    const logo = document.getElementById("navlogo");

    menuBtn.onclick = () => header?.classList.toggle("open");
  </script>

  <style>
    @media (max-width: 768px) {
      header:not(.open) :is(#menu, #mobilesocial) {
        @apply hidden;
      }

      header.open {
        @apply min-h-screen;
      }
    }

    @media screen (height: 100vmax) {
      header :is(#menu > *) {
        @apply font-semibold text-gray-800;
      }
    }

    html {
      scroll-behavior: smooth;
    }
  </style>
</header>
